@import url('https://nurislamaibekuly.github.io/aeroui/components/spinner/spinner.css');
@import url('https://nurislamaibekuly.github.io/aeroui/components/button/button.css');
@import url('https://nurislamaibekuly.github.io/aeroui/components/toggle/toggle.css');
@import url('https://nurislamaibekuly.github.io/aeroui/components/card/card.css');
@import url('https://nurislamaibekuly.github.io/aeroui/components/input/input.css');
@import url('https://nurislamaibekuly.github.io/aeroui/components/badge/badge.css');
@import url('https://nurislamaibekuly.github.io/aeroui/components/segmented/segmented.css');
@import url('https://nurislamaibekuly.github.io/aeroui/components/toast/toast.css');
@import url('https://nurislamaibekuly.github.io/aeroui/components/modal/modal.css');

:root {
  --aero-primary: #ffffff;
  --aero-bg: #000000;
  --aero-fg: #ffffff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
